* {
  margin = 0;
  padding = 0;
  box-sizing: border-box;
}


.myDogs {
  width: 600px;
  clip-path: circle(50% at 50% 50%);
}

.myDogs:hover {
  border : 2px solid black;
}

.myModal {
  background-color: grey;
  height: 900px;
  width: 600px;
  margin-top: 15px;
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 5;

}

.closeBar{
  font-size: 25px;
}
